.Login {
    margin: 0%;
    padding: 0%;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.email {
    color: rebeccapurple;
    background: ghostwhite;
    display: inline-flex;
}

.senha {
    color: rebeccapurple;
    background: ghostwhite;
        display: inline-flex;
 
}

button {
    animation: steps(1) 1 0.5 0.1 2 infinite linear;
}

label {
  font-weight: bold
}

form {
    display: flexbox;
    border: 2px solid rgba(255,100,100,0.5)

}